.titleContainer {
    height: 10vh;
    display: flex;
    background-color: #810081;
    justify-content: center;
}

.title {
    text-align: center;
    color: #FCAEF0;
}

.elements {
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.elements img {
    width: 30px;
    cursor: pointer;
}

.icons {
    cursor: pointer;
    height: 40px;
    width: 40px;
}




.formSearch{
    position: relative;
}

.iconSearch{
    position: absolute;
}