<mat-toolbar class="header mat-elevation-z3" [style.background-color]="'var(--sys-surface-container-low)'">
  @if(this.deviceType === 'mobile-s' || this.deviceType === 'mobile-m' || this.deviceType === 'mobile-l' ||
  this.deviceType === 'tablet') {
  <button (click)="sharedSignalsSvc.toggleSideNavSignal.set(!sharedSignalsSvc.toggleSideNavSignal())" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  }
  <h1>Zona Tecno</h1>
  <button class="switchTheme" mat-icon-button (click)="darkMode.set(!darkMode())">
    @if(darkMode()){
    <mat-icon>light_mode</mat-icon>
    }@else {
    <mat-icon>dark_mode</mat-icon>
    }
  </button>
</mat-toolbar>