
.titleContainer{
  height: 10vh;
  background-image: url('../../../assets/img/titleBackground.svg');
  background-repeat: no-repeat;
  background-size: 99%;
  background-position: center -90px;
}

.header {
  position: fixed;
  box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.75);
}

.switchTheme {
  position: absolute;
  right: 0;
}

