.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 280px;
  border-radius: 20px;
  min-height: 480px;
}


.form button {
  align-self: flex-end;
  border: unset;
}

.flex-column>label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  /* Evita que el texto se envuelva */
  overflow: hidden;
  /* Oculta el texto desbordado */
  text-overflow: ellipsis;
  /* Muestra los ... cuando el texto es muy largo */
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid var(--main-color);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.flex-row>div>label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 0;
  background-color: var(--main-color);
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  >mat-spinner {
    height: 30px !important;
    width: 30px !important;
  }
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: unset !important;
}

.invalid {
  background-color: #a3a3a3;
  cursor: unset;
}