<mat-toolbar class="header mat-elevation-z3" [style.background-color]="'var(--sys-surface-container-low)'">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
    <h1>Zona Tecno</h1>
    <button class="switchTheme" mat-icon-button (click)="darkMode.set(!darkMode())">
        @if(darkMode()){
        <mat-icon>light_mode</mat-icon>
        }@else {
        <mat-icon>dark_mode</mat-icon>
        }
    </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav class="sideNav" opened mode="side" [style.width]="withSidenav">
        <app-custom-sidenav [darkMode]="darkMode()" [collapsed]="collapsed()"/>
    </mat-sidenav>
    <mat-sidenav-content [style.margin-left]="withSidenavContent" class="sidenavContent" [ngClass]="{'sidenavOpen' : this.collapsed()}" (click)="clickOnContent()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>