mat-toolbar {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}

mat-sidenav-container {
    height: calc(100vh - 56px);
}

.sideNav {
    box-shadow: 5px 0px 5px -1px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 5px 0px 5px -1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 5px 0px 5px -1px rgba(0, 0, 0, 0.44);
    border-radius: 0;
    width: 0; /* Ancho inicial */
    transition: width 0.2s ease; /* Duración y tipo de transición */
}
